.navbar {
    background-color: #f4511e;
}
.navbar-header .navbar-brand, .nav .navbar-text, .navbar-default .navbar-nav > li > a {
    color: #ddd;
    font-family: Montserrat, sans-serif;
}
.navbar-header .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}
.input-group-btn button:hover{
    background-color: #fff;
}
body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}
.jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 50px 25px;
    font-family: Montserrat, sans-serif;
}
#id_text {
    margin-top: 2ex;
}
