[Unit]
Description=Gunicorn server dla DOMAIN

[Service]
Restart=on-failure
User=slane
WorkingDirectory=/home/slane/sites/DOMAIN
EnvironmentFile=/home/slane/sites/DOMAIN/.env
ExecStart=/home/slane/sites/DOMAIN/virtualenv/bin/gunicorn --bind unix:/tmp/DOMAIN.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target
